{% extends 'layouts/base.html' %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Table Category</h1>
<p class="mb-4">
    DataTables is a third party plugin that is used to generate the demo table
    below. For more information about DataTables, please visit the
    <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <form action="{% url 'fundupdate' fund.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="Month">Month</label>
                <select name="month" class="form-control">
                    <option value="Kosong">Kosong</option>
                    {% for i in month %}
                    <option value="{{i.name}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="Year">Year</label>
                <select name="year" id="">
                    <option value="Kosong">Kosong</option>
                    {% for i in year %}
                    <option value="{{i.name}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="Date">Date</label>
                {{form.date}}
            </div>
            <div class="form-group">
                <label for="Total Amount">Total Amount</label>
                {{form.total_amount}}
            </div>
            
            <div class="form-group">
                <label for="Purpose">Purpose</label>
                {{form.purpose}}
            </div>
            <div class="form-group">
                <label for="Branch">Branch</label>
                <select name="branch" class="form-control">
                    <option value="Kosong">Kosong</option>
                    {% for i in branch %}
                    <option value="{{i.name}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}