{% extends 'layouts/base.html' %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Table Category</h1>
<p class="mb-4">
    DataTables is a third party plugin that is used to generate the demo table
    below. For more information about DataTables, please visit the
    <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <form action="{% url 'branchupdate' branch.id %}" method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="Name">Name</label>
                {{form.name}}
            </div>
            <div class="form-group">
                <label for="Mobile No">Mobile No</label>
                {{form.mobile_no}}
            </div>
            <div class="form-group">
                <label for="Address">Address</label>
                {{form.Address}}
            </div>
            <div class="form-group">
                <label for="Floor">Floor</label>
                <select name="floor" id="">
                    <option value="Kosong">Kosong</option>
                    {% for i in floor %}
                    <option value="{{i.floor_no}}">{{i.floor_no}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="Unit">Unit</label>
                <select name="unit" id="">
                    <option value="Kosong">Kosong</option>
                    {% for i in unit %}
                    <option value="{{i.unit_no}}">{{i.unit_no}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="Intime">Intime</label>
                {{form.intime}}
            </div>
            <div class="form-group">
                <label for="Outtime">Outtime</label>
                {{form.outtime}}
            </div>
            <div class="form-group">
                <label for="Month">Month</label>
                <select name="month" id="">
                    <option value="Kosong">Kosong</option>
                    {% for i in month %}
                    <option value="{{i.name}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="Branch">Branch</label>
                <select name="branch" id="">
                    <option value="Kosong">Kosong</option>
                    {% for i in branch %}
                    <option value="{{i.name}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}