{% extends 'layouts/base.html' %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Table Category</h1>
<p class="mb-4">
    DataTables is a third party plugin that is used to generate the demo table
    below. For more information about DataTables, please visit the
    <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <form action="{% url 'employeeupdate' employee.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="Address">Address</label>
                {{form.address}}
            </div>
            <div class="form-group">
                <label for="Nid">Nid</label>
                {{form.nid}}
            </div>
            <div class="form-group">
                <label for="designation">designation</label>
                {{form.designation}}
            </div>
            <div class="form-group">
                <label for="Date">Date</label>
                {{form.date}}
            </div>
            <div class="form-group">
                <label for="Ending Date">Ending Date</label>
                {{form.ending_date}}
            </div>
            <div class="form-group">
                <label for="User">User</label>
                <select name="user" id="">
                    <option value="Kosong">Kosong</option>
                    {% for i in user %}
                        <option value="{{i.email}}">{{i.email}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="Branch">Branch</label>
                <select name="branch" id="">
                    <option value="Kosong">Kosong</option>
                    {% for i in branch %}
                        <option value="{{i.name}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}